In [2]:
# Dependencies and libraries #

import os
import requests
import json
import pandas as pd
from datetime import date, timedelta
import datetime
import hvplot
import alpaca_trade_api as tradeapi

%matplotlib inline

In [3]:
# Set Alpaca API key and secret by calling the os.getenv function and referencing the environment variable names
# Set each environment variable to a notebook variable of the same name
alpaca_api_key = "PKT126TVACUEXXFT8Z85"
alpaca_secret_key = "WwlEmn0WUNYY0iJL7ltRQypkzqNfojvcnFtScBIy"

# Check the values were imported correctly by evaluating the type of each
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [4]:
# Create your Alpaca API REST object by calling Alpaca's tradeapi.REST` function
# Set the parameters to your alpaca_api_key, alpaca_secret_key and api_version="v2" 
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [5]:
ticker = "TSLA"

In [9]:
# Dates
start_date = pd.Timestamp("2022-10-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-10-10", tz="America/New_York").isoformat()

In [8]:
# Timeframe 
timeframe = "1Day"

In [11]:
# Price information #
portfolio_prices_df = alpaca.get_bars(
    ticker,
    timeframe,
    start = start_date,
    end = end_date
).df

# Preview the resulting `portfolio_prices_df` DataFrame. 
portfolio_prices_df.head()

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-10-03 04:00:00+00:00,254.40,255.1600,241.01,242.40,98363642,1539826,245.357718
2022-10-04 04:00:00+00:00,250.50,257.5000,242.01,249.44,110028529,1313286,249.704849
2022-10-05 04:00:00+00:00,245.00,246.6697,233.27,240.81,87581871,1172525,238.492134
2022-10-06 04:00:00+00:00,239.52,244.5800,235.35,238.13,69296298,827199,239.355660
2022-10-07 04:00:00+00:00,234.00,234.5715,222.02,223.07,83954799,1245277,226.463569